# Virtual ENvironment
venv/

# Python Cache  
__pycache__/
*.pyc

# ChromaDB
chroma_db/  
db/
chromadb/

#.env
.env    

#upload (uploads folder logs / temp files)
.upload/
frontend/uploads/
backend/uploads/

# Logs
*.log


#Streamlit
.streamlit/

#VSCode
.vscode/

#Frontend (Vite / React)
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
frontend/.DS_Store
frontend/.eslintcache

#Vite cache
.vite/

#Node
node_modules/

#Windows
Thumbs.db
